In [2]:
'print("**************print these following lines ************")

**************print these following lines ************

In [6]:
a = "this is \\\\ double bacrslash"
print(a)

this is \\ double bacrslash

In [3]:
print("this is /\\/\\/\\ mountain")

this is /\/\/\ mountain

In [4]:
print(b)

NameError: name 'b' is not defined

In [6]:
print("he is\tawesome")

he is	awesome

In [7]:
print(dinesh)

NameError: name 'dinesh' is not defined

In [8]:
print("this is \\\\ double backslash")

this is \\ double backslash

In [9]:
print("this is /\\/\\/\\ mountain")

this is /\/\/\ mountain

In [13]:
print(" \\\" \\n \\t \\\' ")

 \" \n \t \'

In [2]:
print(r"tedvhv/n/tdh2d")

tedvhv/n/tdh2d

In [4]:
print(2+3*4)

14

In [5]:
print(2/4) #floating point divisan

0.5

In [7]:
print(4/2)

2.0

In [9]:
print(2//4) # integer divisan

0

In [11]:
print(4//4)

1

In [17]:
 print("\U0001F49c")

ðŸ’œ

In [6]:
print(round(2**5.2 ,4 ))

36.7583

In [9]:
print(2**5.2)

36.75834735990512

In [10]:
print((3+2)*5)

25

In [2]:
name =  input("what is your name")
print("hello" + name)

what is your namedinesh
hellodinesh

In [5]:
age = input("what is your age")

what is your agess

In [6]:
print("dinesh" + age)

dineshss

In [5]:
first_name = "dinesh"
last_name = "rajpurohit"
full_name = first_name + " " + last_name
print(full_name)
print(full_name + str(3))

dinesh rajpurohit
dinesh rajpurohit3

In [12]:
name = input("what is your name ?")
age = input("what is your age ?")
print(name + age)
#print(name)

what is your name ?dinesh
what is your age ?25
dinesh25

In [7]:
age = input("what is your age ?")
#print(age)

what is your age ?22
22

dinesh22

In [11]:
print(name + age)

dinesh22

In [13]:
number_one = int(input("enter first namber"))
number_two = int(input("enter second namber"))
total = number_one + number_two
print("total is " + str(total))

enter first namber22
enter second namber22
total is 44

In [16]:
number1 = str(4)
number2 = float(44)
number3 = int(33)
print(number2+number3)

77.0

In [20]:
print(number1)

4

In [5]:
name , age = "dinesh ", "25 "
print("hello " + name + "your age is" + age)

hello dinesh your age is25

In [6]:
name , age ="dinesh", "25"
print("hello " + name + "your age is " + age)

hello dineshyour age is 25

In [7]:
x=y=z=1
print(x+y+z)

3

In [14]:
name,age = input("enter your name and age ").split(",")
#print(name)

enter your name and age dines,2

In [2]:
name = "dinesh"
age = 25
 print("hello" + name + "your age is " + str(age))

IndentationError: unexpected indent (<ipython-input-2-cab161678133>, line 3)

In [3]:
print("hello" {} "your age is" {}.format(name,age))

SyntaxError: invalid syntax (<ipython-input-3-dfffa20c7be6>, line 1)

In [4]:
print(f"hello {dinesh} your age is {age}")

NameError: name 'dinesh' is not defined

In [1]:
num1,num2,num3 = input("enter three numbers comma separated").split(" , ")
print(f"average of three number :{(int(num1) + int(num2) + int(num3)}")

SyntaxError: f-string: expecting '}' (<ipython-input-1-dff95011f67b>, line 2)

In [2]:
print("dinesh" [2::-2])

nd

In [ ]:
name, count = input("enter your name and count :").split(",")
print(f"length of your name is {len(name)}")
print(f"character count : {name.lower().count(count.lower())}")