In [1]:
a = 3
print (a)

3

In [3]:
print (3)

3

In [4]:
print ('hello world')

hello world

In [3]:
import random

In [4]:
a = [random.randint(1,100) for var in range(100)]

In [5]:
print(a)

[26, 69, 47, 66, 73, 83, 4, 86, 98, 40, 16, 94, 100, 56, 42, 2, 83, 81, 15, 10, 55, 95, 99, 16, 26, 21, 10, 13, 4, 69, 5, 21, 49, 24, 36, 55, 80, 88, 74, 88, 13, 59, 4, 76, 73, 51, 41, 7, 90, 97, 14, 68, 96, 62, 89, 98, 2, 99, 22, 90, 64, 57, 95, 35, 49, 3, 17, 90, 100, 99, 78, 84, 40, 64, 22, 1, 33, 6, 58, 11, 74, 60, 53, 67, 27, 55, 47, 88, 46, 92, 23, 45, 34, 43, 65, 32, 95, 24, 80, 80]

In [9]:
import random
b = [random.randint(1,100) for dha in range(45)]
print (b)

[94, 77, 77, 100, 20, 85, 86, 65, 3, 65, 58, 79, 83, 17, 1, 61, 88, 27, 12, 32, 91, 9, 63, 60, 97, 17, 5, 46, 53, 2, 37, 78, 88, 86, 70, 26, 74, 46, 1, 73, 29, 50, 32, 5, 39]

In [10]:
import random 
b = [random.randint(1,5000) for Dinu in range (1000)]

In [11]:
print(b)

[628, 2747, 3436, 2703, 2644, 3552, 4505, 1673, 1478, 110, 1906, 4938, 596, 1298, 1457, 442, 4396, 2711, 776, 3364, 461, 378, 1796, 1827, 4688, 4597, 4623, 4393, 3557, 1108, 3273, 4874, 1058, 3059, 4056, 2156, 4353, 1927, 4562, 1641, 2890, 847, 1363, 3201, 4310, 3871, 243, 2707, 3624, 2177, 3060, 2234, 3115, 4235, 4523, 4001, 4126, 4704, 643, 4783, 1127, 1413, 3673, 1841, 1141, 1481, 431, 1376, 2125, 930, 3873, 2846, 777, 2866, 4814, 927, 3838, 1228, 4188, 4599, 3894, 2196, 2153, 3745, 2742, 612, 4289, 4986, 3057, 264, 2242, 3603, 1298, 3354, 3585, 4178, 2792, 4465, 602, 2658, 4803, 2407, 2463, 3587, 4503, 1547, 1014, 1164, 2584, 1323, 278, 277, 4403, 3316, 1799, 4689, 893, 1587, 4486, 1140, 486, 4850, 2034, 3752, 2701, 2067, 4300, 4384, 983, 628, 741, 2527, 3457, 390, 4964, 2879, 849, 2397, 4575, 2759, 2384, 1136, 3829, 57, 90, 3781, 3529, 4924, 3921, 270, 4305, 4788, 2683, 4831, 1919, 632, 1564, 4266, 1410, 4373, 2969, 916, 1609, 136, 2473, 1176, 1664, 723, 427, 4775, 1474, 895, 2090, 2798, 1560, 2015, 2013, 1546, 3321, 4238, 2060, 2300, 3541, 3719, 1324, 1019, 4182, 1024, 909, 3316, 3478, 1215, 3527, 301, 2011, 475, 2053, 3057, 498, 3673, 3832, 3285, 4513, 3007, 3415, 2414, 1770, 884, 1683, 1540, 3310, 4094, 515, 2136, 409, 3464, 4894, 2599, 891, 71, 3994, 4375, 235, 3213, 635, 4676, 3562, 912, 3231, 3968, 4728, 4838, 2125, 2187, 1361, 1008, 1846, 1632, 2033, 2519, 4523, 982, 324, 2849, 1901, 1437, 2961, 814, 2457, 127, 1384, 1055, 116, 3010, 3965, 608, 3616, 4683, 1189, 1950, 2184, 997, 843, 934, 171, 2801, 3515, 3860, 111, 4799, 2195, 2167, 4173, 4883, 4318, 2014, 1210, 4804, 621, 3093, 250, 1480, 613, 1928, 4954, 4330, 1168, 4170, 4212, 4513, 172, 552, 4078, 2922, 4404, 225, 939, 4579, 3761, 2955, 3584, 971, 3063, 4738, 1088, 4048, 88, 3317, 1603, 467, 4822, 2317, 4149, 3766, 109, 2179, 2793, 3955, 3414, 4986, 1414, 3131, 297, 11, 4721, 3646, 2262, 4862, 2347, 1091, 915, 1943, 4791, 2028, 101, 2625, 4140, 2078, 3037, 1873, 2046, 1247, 3170, 3423, 4308, 1020, 4831, 2271, 4411, 4825, 3149, 579, 4840, 2366, 4924, 1165, 64, 3425, 2166, 4989, 4699, 2194, 2651, 2947, 3692, 2298, 59, 3369, 280, 1265, 4061, 4397, 2791, 2218, 1078, 1993, 222, 2602, 4079, 2207, 2325, 37, 4709, 2987, 673, 4125, 2631, 964, 3469, 3884, 3971, 3192, 147, 1235, 1750, 1171, 3409, 229, 2098, 2515, 3596, 3874, 4367, 291, 1827, 838, 270, 3375, 1108, 2160, 3432, 3303, 3447, 1088, 144, 1163, 4001, 4429, 4829, 2539, 1385, 3713, 2565, 202, 923, 1266, 3456, 4181, 3927, 2181, 2575, 1209, 2185, 2634, 3542, 904, 1660, 4545, 1310, 1625, 1179, 3253, 1442, 840, 4168, 516, 1066, 416, 1649, 2963, 4475, 3812, 4165, 496, 2158, 3722, 2280, 3279, 4951, 1008, 2921, 2805, 2204, 161, 1133, 1393, 1539, 241, 3179, 294, 382, 1307, 2996, 2117, 3686, 4464, 3690, 4610, 3244, 3270, 2815, 1324, 2542, 3507, 1057, 2129, 776, 2235, 2648, 2975, 4283, 2253, 1678, 3952, 1226, 4280, 2013, 942, 502, 164, 3997, 3271, 4816, 489, 4337, 4882, 3173, 3183, 3257, 3034, 2902, 73, 872, 530, 2235, 3650, 2533, 1632, 4217, 336, 3321, 2102, 1754, 3999, 1953, 4359, 43, 3251, 2984, 1124, 1266, 206, 2690, 3846, 2869, 2572, 4076, 1525, 4009, 951, 2637, 2466, 1790, 4627, 3627, 4991, 4764, 1997, 1268, 4213, 840, 3558, 4493, 4110, 4057, 3110, 1827, 2162, 1304, 135, 717, 539, 2144, 2553, 3750, 914, 3335, 3112, 4105, 2521, 50, 483, 532, 842, 4155, 3395, 822, 4309, 3014, 4040, 4642, 849, 1948, 1544, 4917, 1652, 3724, 4629, 2732, 2494, 1521, 3812, 2464, 2222, 1009, 1092, 2572, 2550, 1488, 4937, 4005, 4216, 906, 4273, 3878, 726, 226, 2245, 629, 2920, 4695, 4162, 3047, 2697, 2730, 1925, 4887, 668, 568, 911, 4041, 1997, 2081, 543, 2327, 154, 2780, 3423, 2004, 3162, 1113, 4321, 3990, 3010, 4579, 3101, 2573, 775, 2618, 286, 3982, 2608, 3141, 4610, 3603, 515, 1168, 766, 218, 2590, 238, 4672, 3493, 143, 1717, 1204, 84, 4580, 4701, 4960, 985, 2498, 3312, 3804, 4480, 44, 1832, 3634, 2669, 3170, 4390, 1398, 1940, 682, 2644, 133, 2827, 4234, 4381, 1812, 1497, 1171, 3084, 2644, 3987, 3957, 3995, 207, 712, 1876, 774, 3216, 2570, 3076, 1551, 31, 466, 4523, 2321, 4532, 3296, 778, 4644, 2636, 4791, 3151, 1150, 119, 4341, 1780, 1439, 3184, 809, 205, 2198, 2044, 1933, 2477, 766, 1963, 2587, 2226, 1921, 1741, 1446, 137, 3043, 2188, 710, 694, 2672, 4791, 3208, 4305, 2504, 1976, 2827, 4350, 1230, 3646, 4349, 972, 1826, 4406, 42, 1727, 4892, 4267, 139, 4766, 592, 3709, 730, 325, 1772, 1607, 4988, 4103, 4772, 276, 2481, 4979, 3092, 1881, 4913, 469, 822, 2562, 753, 1670, 1627, 2566, 2441, 3067, 570, 2048, 4293, 4103, 4748, 3485, 2883, 3856, 76, 1228, 1036, 1096, 3150, 4431, 488, 4487, 882, 86, 4428, 1999, 3945, 3460, 1178, 3449, 3496, 1222, 4389, 4682, 1956, 2211, 1563, 2973, 1567, 3184, 1332, 566, 1592, 3315, 931, 2215, 1, 3373, 3211, 1859, 2117, 4778, 2018, 2200, 3932, 798, 1075, 1998, 2742, 994, 3153, 1040, 1322, 2665, 4046, 4328, 4944, 1667, 4954, 1328, 4470, 2988, 823, 842, 3214, 2135, 3249, 816, 450, 1151, 2782, 4494, 4457, 354, 2046, 1567, 4138, 1879, 4221, 4744, 2958, 3671, 4017, 1626, 948, 200, 2882, 3691, 3922, 2772, 2332, 1097, 3244, 3, 1870, 4039, 4336, 586, 2488, 655, 2638, 1991, 1176, 1946, 472, 3755, 90, 4156, 46, 1304, 376, 1696, 3422, 1356, 1910, 3517, 553, 2939, 3174, 4361, 871, 9, 4591, 2006, 1671, 4769, 3829, 3978, 3513, 3880, 3109, 4891, 31, 1972, 4375, 720, 1839, 2707, 2955, 4343, 1331, 2120, 3464, 1846, 4225, 58, 660, 2158, 825, 1356, 759, 3477, 4841, 175, 2138, 335, 2723, 3339, 875, 2580, 3196, 994, 3168, 4732, 2640, 4096, 3465, 4988, 3266, 3888, 2180, 2754, 3212, 1753, 2286, 423, 3678, 381, 3802, 4940, 4388, 3532, 3922, 805, 230, 3322, 1590, 3407, 4516, 3404, 1632, 1757, 1170, 1373, 1572, 417, 1212, 397, 1613, 3593, 2446, 4342, 3356, 837, 60, 4256, 28, 455, 567, 1389, 4474, 4761, 3760, 880, 2582, 2287, 391, 178, 3829, 64, 3195, 2290]

In [1]:
a = 5 
b = 6
print (a,b)

5 6

# Mumber

# int , float , complex

In [1]:
b = 5 
A = 5 
print(b)
print(A)

5
5

In [4]:
print('type of a =',type(b))
print('type of a =',type(A))
print("type of a =",id(b))
print("type of a =",id(A))

type of a = <class 'int'>
type of a = <class 'int'>
type of a = 1769434304
type of a = 1769434304

In [14]:
X = 5
C = 8
v = 2
print (X,C,v)
print (X,C,v,sep="\n")
print(type(X),type(C),type(v),sep="\t")

5 8 2
5
8
2
<class 'int'>	<class 'int'>	<class 'int'>

In [17]:
print(dir(a))

NameError: name 'a' is not defined

In [2]:
print(dir(c))

NameError: name 'c' is not defined

In [21]:
a = 5

In [23]:
a.bit_length()

3

In [1]:
b = 15
b.bit_length()

4

In [ ]:
a.__doc__

In [7]:
a._doc_

AttributeError: 'str' object has no attribute '_doc_'

In [10]:
a = ('hello world')
b = a
print('type of a =',type(a))
print(a,b)
print(end='\n \n')
print("type of a =",id(a))

print(b)
print("type of a =",type(b))
print('type of a =',id(b))
print(b)

type of a = <class 'str'>
hello world hello world


type of a = 1562946567088
hello world
type of a = <class 'str'>
type of a = 1562946567088
hello world

In [13]:
print('uncle"s')

uncle"s

In [15]:
print("uncle's")

uncle's

In [19]:
print("\\\\")

\\

In [23]:
print(' raj \t dinu \t naresh')

 raj 	 dinu 	 naresh

In [24]:
print('raj \n nuh')

raj
 nuh

In [38]:
print('ran' + 'dinudgd')

randinudgd

In [37]:
print('python is teach by' + ' ajay yadav')

python is teach by ajay yadav

In [43]:
a = "hello"
a*5

'hellohellohellohellohello'

In [45]:
print(dir("hello"))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [54]:
a = ("assnd asdn assns d")
x = a
print(x)

assnd asdn assns d

In [57]:
a = x.count('a')
b = x.count('s')
c = x.count('n')
d = x.count('d')
#print("end = ",\n)
print("a =",a)
print("b =",b)
print("c =",c)
print("d =",d)
print("totl =",a+b+c+d)

a = 3
b = 6
c = 3
d = 3
totl = 15

In [58]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [59]:
a = 'hello world'
print(a)
print(a[2:10:3])

hello world
l r

In [1]:
a = 'jai \t nagin \t ji \t ki '

In [2]:
a

'jai \t nagin \t ji \t ki '

In [3]:
print(a.expandtabs(40))

jai                                      nagin                                   ji                                      ki

In [4]:
a = 'are dog and dog and cats are cat owesem so cute '

In [5]:
a

'are dog and dog and cats are cat owesem so cute '

In [11]:
a.find('dog',5)

12

In [15]:
x = input('enter your name : ')
y = input('enter your proffesion : ')
z = "{}was good person and he has good knowlege of {}".format(y,x)
print(z)

enter your name : aa
enter your proffesion : a
awas good person and he has good knowlege of aa

In [21]:
x = input('enter your name : ')
y = input('enter your proffesion : ')
z = f" {y}wes good person and he has good knowlege of {x}"
print(z)

enter your name : ww
enter your proffesion : wa
 wawes good person and he has good knowlege of ww

In [27]:
a = {'a':'dinu','b':'dinesh'}
b = "my fiste name {a} my laste name is {b}".format_map(a)
print(b)

my fiste name dinu my laste name is dinesh

In [29]:
b.index('dinu')

14

In [30]:
b.isalnum()

False

In [31]:
b.isalnum()

False

In [37]:
b = "hello123"
b.isalnum()

True

In [38]:
b.isalnum

In [39]:
b

'hello123'

In [47]:
a = input('enter anything: ')
print('{!a}'.format(a))
print('{!a}'.format(a.rstrip()))
print('{!a}'.format(a.lstrip()))
print('{!a}'.format(a.strip()))

enter anything : asa
'asa'
'asa'
'asa'
'asa'

In [49]:
a = input('Enter anything : ')
print('{!r}'.format(a))
print('{!r}'.format(a.rstrip()))
print('{!r}'.format(a.lstrip()))
print('{!r}'.format(a.strip()))

Enter anything :                         dinesh
'                        dinesh'
'                        dinesh'
'dinesh'
'dinesh'

In [50]:
a.

SyntaxError: invalid syntax (<ipython-input-50-b4ce96ddcee0>, line 1)

In [51]:
a

'                        dinesh'

In [55]:
'i am coder'.replace(" ","_")

'i_am_coder'

In [57]:
a = "good for good for"
a.rfind('for')

14

In [58]:
a.partition('good')

('', 'good', ' for good for')

In [60]:
b = a.split()
b

['good', 'for', 'good', 'for']

In [61]:
"*******".join(b)

'good*******for*******good*******for'

In [62]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [65]:
a = "Hello world"
b = a.lower()
b

'hello world'

In [66]:
b.upper()

'HELLO WORLD'

In [67]:
i = 'whta is the use of python in datascienter'
i =  i.title()

In [68]:
i

'Whta Is The Use Of Python In Datascienter'

In [70]:
str(a)

'Hello world'

In [87]:
s = 'wh' # string to change
s1 = 'hw' # in what it to change
s2 = ' '
table = p.maketrans(s,s1,s2)
table

{119: 104, 104: 119, 32: None}

p = 'wello horld'

In [74]:
s = 'wh' # string to change
s1 = 'hw' # in what it to change
s2 = ' '
table = p.maketrans(s,s1,s2)
table

{119: 104, 104: 119, 32: None}

In [75]:
p.translate(table)

'helloworld'

In [86]:
'i am coder'.replace(" ",'*****')

'i*****am*****coder'

In [88]:
'i am coder'.replace(' ','************')

'i************am************coder'

In [89]:
y

'wa'

In [91]:
a = ['dinesh','raj','roy','rehan']
print(type(a))

<class 'list'>

In [94]:
x = [1,2,3,4,5,6,8]
y = ['a','b','z','c','s','e','f']
print(x,y,sep='\n')

[1, 2, 3, 4, 5, 6, 8]
['a', 'b', 'z', 'c', 's', 'e', 'f']

In [96]:
print(type(x))
print(type(y))

<class 'list'>
<class 'list'>

In [97]:
x = list(zip(x,y))

In [98]:
print(x)

[(1, 'a'), (2, 'b'), (3, 'z'), (4, 'c'), (5, 's'), (6, 'e'), (8, 'f')]

In [99]:
for var in (x):
      print(var)

(1, 'a')
(2, 'b')
(3, 'z')
(4, 'c')
(5, 's')
(6, 'e')
(8, 'f')

In [100]:
for var in enumerate(y):
    print(var)

(0, 'a')
(1, 'b')
(2, 'z')
(3, 'c')
(4, 's')
(5, 'e')
(6, 'f')

In [101]:
a = 'hello world'
print(a[-10:100])

ello world

In [102]:
a = 'hello world'
print(a[-10:10])

ello worl

In [103]:
print(a[-10:-100:-1])

eh

In [104]:
print(x)

[(1, 'a'), (2, 'b'), (3, 'z'), (4, 'c'), (5, 's'), (6, 'e'), (8, 'f')]

In [108]:
num = [var for var in range(100)]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [109]:
even  = num[::2]
odd = num[1::2]
ran = num[4::4][3:]
print(even,end='\n\n')
print(odd,end='\n\n')
print(ran,end='\n\n')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

[16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [114]:
even  = num[::2]
odd = num[1::2]
ran = num[4::4][3:]
print(even,end='\n\n')
print(odd,end='\n\n')
print(ran,end='\n\n')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

[16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [118]:
num[4::4][3::2]

[16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [119]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [120]:
a = [1,2,3,4,5,6,7,8] + ['a','b','c','d','e','f']  # addition of list
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f']

In [121]:
b = [1,2,3,4,5,6,7,8,9]
for var in b:
    print(var**2)

1
4
9
16
25
36
49
64
81

In [122]:
c = [11,1,111,111,11,255]
for var in b :
    print(var**3)

1
8
27
64
125
216
343
512
729

In [124]:
b.append('dinesh')
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ajay', 'dinesh']

In [125]:
b.append(('aa','ss','aassa'))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ajay', 'dinesh', ('aa', 'ss', 'aassa')]

In [126]:
b[-1][2]

'aassa'

In [127]:
b[-2][1:]

'inesh'

In [128]:
for var in range(10):
    b.append(var)

In [129]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ajay', 'dinesh', ('aa', 'ss', 'aassa'), 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
b

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'ajay',
 'dinesh',
 ('aa', 'ss', 'aassa'),
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [131]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ajay', 'dinesh', ('aa', 'ss', 'aassa'), 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
b.clear

In [133]:
print

In [134]:
b

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'ajay',
 'dinesh',
 ('aa', 'ss', 'aassa'),
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [135]:
b.clear()

In [136]:
b

[]

In [139]:
b_new

NameError: name 'b_new' is not defined

In [141]:
d_new

NameError: name 'd_new' is not defined

In [142]:
print(li)

NameError: name 'li' is not defined

In [143]:
b_new

NameError: name 'b_new' is not defined

In [1]:
li.count('ajay')

NameError: name 'li' is not defined

In [3]:
def a (x,y):
    return(x+y)
a (5,6)

11

In [4]:
c =1 
while c <=5:
    print(c**2)
    c +=1

1
4
9
16
25

In [ ]:
c = 1
while c <= 10:
    print(c)
    if c % 2 ==0:
        c += 2
else:
    c +=2
    print(c)

In [ ]:
c = 1
while c <= 10 :
    print(c)
    if c % 2 :
        c += 3
    else:
    c += 2
    c += 1
    print(c)
else
 print('di=o no')

In [ ]:
c = 5
while c < 0:
    if c == 2:
        print('by')
        break
    print(f'hello"{c}')
else:
    print('ddd')